
<h2>MVC Chart</h2>
<div class="form-group">
    <img src="@Url.Action("CharterColumn")" alt="Chart" />
</div>
<hr />
<div class="form-group">
    <img src="@Url.Action("ChartBar")" alt="Chart" />
</div>
<hr />
<div class="form-group">
    <img src="@Url.Action("ChartPie")" alt="Chart" />
</div>
<hr />
<div class="form-group">
    <img src="@Url.Action("ChartThreelinebreak")" alt="Chart" />
</div>
<hr />
<div class="form-group">
    <img src="@Url.Action("Bubblebreak")" alt="Chart" />
</div>
<hr />
<div class="form-group">
    <img src="@Url.Action("DoughnutGraph")" alt="Chart" />
</div>
<hr />
<div class="form-group">
    <img src="@Url.Action("ChartStackedBar100")" alt="Chart" />
</div>
<hr />
<div class="form-group">
    <img src="@Url.Action("ChartBoxPlot")" alt="Chart" />
</div>
<hr />
<div class="form-group">
    <img src="@Url.Action("ChartPyramid")" alt="Chart" />
</div>
<hr />
<div class="form-group">
    <img src="@Url.Action("ChartPolar")" alt="Chart" />
</div>
<hr />
<div class="form-group">
    <img src="@Url.Action("RadarChart")" alt="Chart" />
</div>
<hr />
<div class="form-group">
    <img src="@Url.Action("ChartRangeBar")" alt="Chart" />
</div>
<hr />
<div class="form-group">
    <img src="@Url.Action("ChartFunnel")" alt="Chart" />
</div>